<!DOCTYPE html>
{% extends 'base.html' %}

{% block sidebar %}
    {{ block.super }}
    <ul>
        {% if user.is_authenticated %}
            <p>{{ user }} is logged in </p>
            <li><a href='/edit_profile'> edit profile</a></li>
            <li><a href='/logout'> Logout</a></li>
        {% else %}
            <p> Nobody is logged in </p>
            <li><a href='/login'> Login</a></li>
        {% endif %}

    </ul>
{% endblock %}

{% block content %}

    <h2> Add Comment</h2>
    {% if user.is_authenticated %}

        <form action='/inventory/add_comment/{{ article.id }}/' method='post'> {% csrf_token %}
            <ul>{{ form.as_ul }}</ul>
            <center><input type='submit' value='submit'/></center>
        </form>

    {% else %}
        <h4> You are not logged in</h4>
        <h3><a href="/login/">Login</a></h3>

    {% endif %}

{% endblock %}