{% extends 'base.html' %}

{% block sidebar %}
    {{ block.super }}
    <ul>
        {% if user.is_authenticated %}
            <p>{{ user }} is logged in </p>
            <li><a href='/edit_profile'> edit profile</a></li>
            <li><a href='/logout'> Logout</a></li>
        {% else %}
            <p> Nobody is logged in </p>
            <li><a href='/login'> Login</a></li>
        {% endif %}

    </ul>
{% endblock %}

{% block content %}
    <h2> hi {{ name }}!! you are now logged in </h2>
    <p> click <a href='/logout/'>here </a> to logout</p>

{% endblock %}