{% extends 'base.html' %}

{% block sidebar %}
    {{ block.super }}
    <ul>
        {% if user.is_authenticated %}
            <p>{{ user }} is logged in </p>
            <li><a href='/edit_profile'> edit profile</a></li>
            <li><a href='/logout'> Logout</a></li>
        {% else %}
            <p> Nobody is logged in </p>
            <li><a href='/login'> Login</a></li>
        {% endif %}

    </ul>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p class='errors'> Sorry, its not a valid username/password</p>
    {% endif %}

    <form action='/auth/' method='post'> {% csrf_token %}
        <label for='username'>Username</label>
        <input type='text' name='username' value='' id='username'/>
        <br>
        <br>
        <label for='password'>Password</label>
        <input type='password' name='password' value='' id='password'/>
        <br>
        <br>
        <input type='submit' value='Login'/>
    </form>

{% endblock %}